doctype html
html(lang="en")
    head
        block title
            title Splash Intro
        // META TAGS
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        // Stylesheets
        link(href="assets/css/main.css", rel="stylesheet")
        // JS
    body
        block content